/*.primary-background{
    background: #613659!important;
    
}
.primary-background-yellow{
    background:  #fad02e  !important;
}
.primary-text-color{
    color: #442c2e !important;
}*/
.primary-background{
    background: #3498db!important;
    
}
.primary-background-2{
    background:  #f0f7f4   !important;
}
.primary-text-color{
    color: #95a5a6 !important;
}
